*{
    margin : 0;
    padding : 0;    
}

:root{
    --primary-color: #fff;
}

.dark-theme{
    --primary-color: #000;
}

body{
    width: 100%;
    overflow-x: hidden;
    background-color: var(--primary-color);
}

.banner{
    width : 100%;
    height : 100%;
}

.navbar{
    width : 90%;
    margin : auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar h1 a{
    color: #ffc107;
    font-family: sans-serif;
    text-decoration: none;
}

.navbar h1 a:hover{
    color: #fa5561;
    font-family: sans-serif;
    text-decoration: none;
}

.navbar ul{
    flex: 1;
    text-align: right;
}

.navbar ul li{
    list-style : none;
    display : inline-block;
    margin : 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #ffc107;
    font-family: sans-serif;
    font-size: 18px;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width : 0;
    background : #fa5561;
    position: absolute;
    left: 0;
    bottom : -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

#icon{
    width: 30px;
    cursor: pointer;
}

.title{
    font-size: 70px;
    line-height: 100px;
    font-weight: bold;
    height: 100px;
    text-align: center;
    color: #ffc107;
    font-family: sans-serif;
    /*margin-top: 20%;*/
    top: 20%;
}

.title p:hover{
    color: #fa5561;
}

.slider{
    color: #ffc107;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 0 40px;
    height: 60px;
    width: 100%;
    overflow: hidden;
}

.line{
    text-align: center;
    font-size: 50px;
    line-height: 60px;

}

.line:first-child{
    animation: anim 12s infinite;
}

.line a{
    color: #ffc107;
    font-family: sans-serif;
    text-decoration: none;
}

.line a:hover{
    color: #fa5561;
    font-family: sans-serif;
    text-decoration: none;
}

@keyframes anim{
    0%{ margin-top: 0;}
    16%{ margin-top: -60px;}
    33%{ margin-top: -120px;}
    50%{ margin-top: -180px;}
    66%{ margin-top: -120px;}
    82%{ margin-top: -60px;}
    100%{ margin-top: 0;}
}

/*.sliderImages{
    width: 30%;
    height: 400px;
    top: 262px;
    left: 25%;
    display: block;
    position: relative;
    transform: translate(-50%, -50%);
    background-image: url('images/sliderimg1.jpg');
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px 5px white;
    animation: slider 10s infinite linear;
}
@keyframes sliderImages{
    0%{ background-image: url('images/sliderImg1.jpg');}

    35%{ background-image: url('images/sliderImg2.jpg');}

    75%{ background-image: url('images/sliderImg3.jpg');}
}*/
.about{
    width: 80%;
}

.about h2{
    margin-top: 8rem;
    margin-left: 40rem;
    font-size: 60px;
    color: #fa5561;
}

.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*gap: rem;*/
    margin-top: 2rem;
    width: fit-content;
  }
   
  .about-img img {
    width: 50%;
    margin-left: 8rem;
    margin-right: 0;
    padding: 0;
    border-radius: 0.5rem;
    display: block;
  }
  .about-text p {
    font-size: 28px;
    font-weight: 400;
    line-height: 150%;
    text-align: justify;
    border-left: 0rem;
    width: auto;
    margin-top: 4rem;
    color: #ff4500;
  }
  .information {
    margin: 1rem 0 1.4rem 2rem;
    font-size: 24px;
  }
  .information .info-box {
    display: flex;
    align-items: center;
    margin-bottom: 1.4rem;
  }
  .information .info-box .bx {
    font-size: 22px;
  }
  .information .info-box span {
    font-weight: 400;
    margin-left: 1rem;
    color: #ff4500;
}

.information i{
    font-size: 22px;
}
.timeline-container{
    margin: 0;
    padding: 0;
}

.subheadings{
    margin-top: 4rem;
    margin-left: 40rem;
    font-size: 60px;
    padding: 0;
    line-height:0%;
    color: #fa5561;
}
.timelineArea{
    margin: 90px auto;
    width: 450px;
    border-left: 2px solid #ccc;
    padding: 0 20px 0 30px;
}
.timelineArea div{
    background-color: #ffc107;
    padding: 10px 25px;
    font-size: 14px;
    border: 1 px solid #ccc;
    line-height: 1.7;
    position: relative;
    height: 150px;
    margin-bottom: 20px;
}
.timelineArea div:before{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
    border: 3px solid #ddd;
    position: absolute;
    top: 10px;
    left: -40px;
}
.timelineArea div:after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #fa5561 transparent transparent;
    border-width: 8px;
    position: absolute;
    left: -17px;
    top: 10px;
}
.timelineArea div h2{
    margin: 0;
    text-transform: uppercase;
    font-family: sans-serif;
    color: #fa5561;
}
.timelineArea div h3{
    margin: 0;
    font-family: sans-serif;
    color: #9B26B6;
}
.timelineArea div h4{
    margin: 0;
    font-family: sans-serif;
    color: #ff4500;
}
.timelineArea div h5{
    margin: 0;
    font-family: sans-serif;
    color: #0000ff;
}

.container{
    width: 60%;
    margin-top: 2rem;
    margin-left: 19rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper{
    width: 80%;
    height:fit-content;
}

.swiper img{
    width: 100%;
    height: 24rem;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: #fff;
}

.swiper .swiper-pagination-bullet-active{
    background: #fff;
}

.roles-content {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
  }
  .roles-box {
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    border-bottom: 2px solid var(--main-color);
    box-shadow: 0 2px 7px #f08080;
    background-color: #ffc107;
  }
  .roles-box:hover{
   background-color: #f08080;
  }
  
  .roles-box h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0.4rem 0 0.4rem;
  }
  .roles-box:hover h3{
    color: #fff;
  }
  .roles-box .bx {
    padding-top: 2rem;
    font-size: 54px;
    color: var(--main-color);
  }
  .roles-box:hover .bx{
    color: #22cf91;
  }
  .roles-box h4 {
    font-weight: 500;
    font-size: 20px;
  }
  .roles-box:hover h4{
    color: #fff;
    font-size: 20px;
  }

  .projects{
    margin-top: 2rem;
  }
.project{
    margin-top: 2rem;
    margin-left: 8rem;
}
.projectName{
    font-size: 40px;
    font-family: sans-serif;
    margin-bottom: 1rem;
    color: #ffc107;
}
.project-subheadings{
    font-size: 28px;
    font-weight: 400;
    font-family: sans-serif;
    margin-left: 4rem;
    text-align: justify;
    width: 80%;
    margin-bottom: 1rem;
    color: #ff4500;
    line-height: 150%;
}
.project a{
    text-decoration: none;
    color: #ff4500;
}
.project a:hover{
    text-decoration: none;
    color: #ffc107;
}
.rotate3d{
    width: 300px;
    height: 300px;
    background-color: #ffc107;
    transition: all 5s ease-in-out; 
    margin-top: 1rem;
    margin-left: 40rem; 
}
.rotate3d:hover{
    transform: rotate3d(25,25,25,360deg);
}
.rotate3d p{
    margin: 1rem;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    line-height: 150%;
    text-align: justify;
    
}
.courses{
    margin-left: 32rem;
}
.box{
    width: 400px;
    font-size: 22px;
    text-align: center;
}
.box ul{
    position: relative;
    background: var(--primary-color);
}
.box ul li{
    list-style: none;
    padding: 10px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0,0,0,.1);
    transition: transform 0.5s;
    border: 2px solid ;
    margin: 2rem;
    padding: 2rem;
}
.box ul:hover li{
    opacity: 0.2;
}
.box ul li:hover{
    transform: scale(1.1);
    z-index: 100;
    background: 0 5px 25px rgba(0,0,0,.2);
    color: #fff;
    background-color: #ffc107;
    opacity: 1;
}
.box ul li span{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #ffda24;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(-2px);
}
.box ul li:hover span{
    background: #fff;
    color: #ffda24;
}
.certificate a{
    margin-top: 1rem;
    text-decoration: none;
}
.certificate a:hover{
    text-decoration: none;
}
#borderimg {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url('/images/border.png') 20% round;
}
.award-received{
    width: 100%;
    margin-top: 2rem;
    margin-left: 15rem;
    margin-right: 28rem;
}
.award-received p{
    width: 80%;
    font-family: sans-serif;
    line-height: 150%;
    color: #ff4500;

}

.footer1{
    background-color: #ffc107;
    color: black;
    font-size: 24px;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 60px;;
    text-align: center;  
}
